/* CSS files add styling rules to your content */

#header, #footer {
  background: rgba(171,203,248,0.97);
}

#header{
  margin-bottom: 20px;
}

body {
  font-family: helvetica, arial, sans-serif;
  background: rgba(177,240,238,0.94);
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
