/* CSS files add styling rules to your content */

#header {
  background: rgba(4, 16, 54, 0.97);
  color: rgba(177, 240, 238, 0.94);
}

#header {
  margin-bottom: 20px;
}

body {
  background-image: url("https://cdn.glitch.com/47a1a984-9b5d-4897-a4fc-99dda05d61d6%2Fcash-money-animated-gif-11.gif?v=1573096666231");
  background-size: cover;
  background-color: rgba(177, 240, 238, 0.94);
  font-family: helvetica, arial, sans-serif;
}

h1 {
  margin: auto; /* used to center horizontally and vertically */
  font-family: "Bowlby One SC", cursive;
  font-size: 50px;
  text-align: center;
  color: yellow;
}

h2 {
  margin: auto; /* used to center horizontally and vertically */
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  text-align: center;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.col1,
.col2,
.col3 {
  display: table-cell;
}

.margin-top {
  margin-top: 15%;
}

arrowimage {
  background-image: url("https://cdn.glitch.com/47a1a984-9b5d-4897-a4fc-99dda05d61d6%2Fcash-money-animated-gif-11.gif?v=1573096666231");
  width="30%";
  background-color: rgba(177, 240, 238, 0.94);
}
